@import '../../globalStyles.scss';

.o-carousel-card-cont {
  width: 20rem;
  height: 16.68rem;
  margin: 1rem 1rem;
  transition: transform .3s;
  @include mobile {
    width: 15rem;
    height: 8.68rem;
}
  
  &:hover{
    transform: scale(1.05);
  }

  .o-carousel-card-img {
    width: 100%;
    border-radius: 0.75rem;
    overflow: hidden;
    
    img {
      width: 100%;
      border-radius: 0.75rem;
    border: 1px solid #eeeeee;
    }
  }

  .o-carousel-card-texto {
    width: 22rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    
      
   
    @include mobile {
       width: 230.5px;
        

    }

    h2 {
      color: $mainGray;
      font-family: $kanit;
      font-weight: 500;
  
      margin: 0;
      padding: 0 1rem;
      
      
    }
    p {
      color: $mainGray;
      font-family: $kanit;
     
      margin: 0 0 1rem 0;  
      padding: 0 1rem; 
    }
  }
}
