@import '../../globalStyles.scss';
.o-review-container{
    width: 65%;
    display: flex;
    align-items: center;
    @include mobile{
     width: 100%;   
     align-items: center;
     justify-content: center;    
    }
    .o-review-card{
        width: 60%;        
        border: 1px solid rgb(126, 126, 126);
        border-radius: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0.5rem 0;
        @include mobile{
            width: 90%;
            flex-direction: column;
        }

        .o-img-review{
     
            width: 30%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            @include mobile{
                width: 50%;
                
            }
            
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .o-right-container{
        width: 65%;
        @include mobile{
            width: 95%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
        }
        h2{
            font-family: $kanit;
            color: $mainGray;
        }
        p{
            font-family: $kanit;
            color: $mainGray;
        }
    }

}