@import "../../globalStyles.scss";

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #393e46;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a8c91;
}
.o-location-container {
  margin-top: 4rem;
  width: 100%;
  height: 55rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include mobile {
    height: auto;
    flex-direction: column;
    
  }

  .o-location-left {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #eeeeee;
    padding: 0 1%;
    
   

    @include mobile {
      
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      
      
    }

    .arrow{
      display: none;
      @include mobile {
        display: block;
        
      }
    }

    .arrow-active{
      display: none;
      @include mobile {
        display: block;
        transform: rotate(-180deg);
      }
    }

    .arrow-dissapear{
      display: none;
      @include mobile {
        display: none;
        
      }
    }

    .o-form-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      form {
        width: 100%;
        label {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          input {
            width: 2rem;
          }
          span{
            font-family: $kanit;
            color: $mainGray;
            font-weight: 300;
          }
        }
      }

      @include mobile {
        display: none;
      }
    }

    .o-form-container-activo {
      display: flex;
      flex-direction: column;
      width: 90%;
      form {
        width: 100%;
        label {
          display: flex;
          width: 100%;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          input {
            width: 2rem;
          }
          span{
            font-family: $kanit;
            color: $mainGray;
            font-weight: 300;
          }
        }
      }

      
    }
    h3 {
      text-decoration: none;
      font-family: $kanit;
      font-weight: 700;
      color: $mainGray;
    }
    input {
      background-image: url("../../img/lupa.png");
      background-color: white;
      line-height: 18px;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: 2% center;
      backface-visibility: hidden;
      width: 80%;
      box-sizing: border-box;
      border: 1px solid #eeeeee;
      border-radius: 0.2rem;
      font-size: 16px;
      background-repeat: no-repeat;
      padding: 0.2rem;
      padding-left: 2rem;
      transition: width 0.4s ease-in-out;
      font-family: $kanit;
      font-weight: 300;
    }
    input:focus {
      outline: 0;
      border: 2px solid #d6d6d6;
    }
  }
  .o-location-middle {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

    @include mobile {
      width: 85%;
      justify-content: center;
    }
  }
  .o-location-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    @include mobile {
      width: 90%;
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem 1rem;
    }

    .imap {
      width: 100%;
      height: 100%;
    }
  }
}
