@import "../../globalStyles.scss";
.o-event-loc-card {
  display: flex;
  width: 70%;
  border: 1px solid $mainGray;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;

  @include mobile {
    width: 90%;
    flex-direction: column;
    height: auto;
  }

  .o-loc-colum {
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    .o-img-event-location-container {
      width: 35%;

      @include mobile {
        width: 100%;
      }
      img {
        width: 100%;
        object-fit: contain;
      }
    }
    .o-text-and-buttons-loc {
      width: 60%;
      display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;


      @include mobile {
        width: 90%;
      }
      .o-event-loc-title {
        margin: 1rem 0;
        h3 {
          margin: 0;
        }
        p {
          
        }
      }

      .o-boxes-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 35%;

        .o-box {
          border: 1px solid $mainGray;
          width: 5rem;
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h3{
            margin: 0;

          }
          p{
            margin: 0;
          }
        }
      }
      .o-sn-location {
        margin: 0.5rem 0;
        .o-sn{
          margin: 0 0.2rem;
        }
        p{
          margin: 0.5rem 0;
        }
      }
    }

    .o-event-loc-btn-cont {
      h2 {
      }
    }
  }
  .o-bottom-card{
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      width: 100%;
     
      margin: 0.5rem 0;

      h3{
          padding-left: 2%;
      }

      .o-container-imgs-btns{
          width:80%;
          display: flex;
          align-items: center;
          justify-content: space-around;
        img{
            width: 15%;
        }
        button{
          width: 12rem;
          height: 4.199rem;
        }
      }

      
  }
}
