@import '../../globalStyles.scss';
.o-footer{
    width: 100%;
    height: 16rem;
    background-color: $footerColor;
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    z-index: 2;

    .o-footer-left{
        width: 70%;
        height: 100%;        
        display: flex;
        align-items: center;
        justify-content: space-around;

        .o-contact-us{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            height: 100%;
          
            h2{
                margin: 0.3rem;
                color: $mainGreen;
                font-family: $kanit;
                font-style: italic;
            }
            h4{
                margin: 0.3rem;
                color: #FFFFFF;
                font-family: $kanit;
                font-weight: 300;
            }
        }

        .o-follow-us{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            height: 100%;

          .o-social-container{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              width: 100%;
              cursor: pointer;
          }  
            h2{
                margin: 0.3rem;
                color: $mainGreen;
                font-family: $kanit;
                font-style: italic;
            }
            h4{
                margin: 0.3rem;
                color: #FFFFFF;
                font-family: $kanit;
                font-weight: 300;
            }
        }
    }
    .o-footer-right{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        .gray {
            color: white;
            font-family: $sedwick;
            font-size: 3rem;
          }
          .green {
            color: $mainGreen;
            font-family: $sedwick;
            font-size: 3rem;
          }
    }
}